<template>
  <div>
    <h1>Search Itunes</h1>
    <br />
    <form @submit.prevent="submit">
      <input type="text" placeholder="Enter search term" v-model="search" autofocus />
    </form>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      search: ""
    };
  },
  methods: {
    submit(event) {
			// console.log(event);
			this.$router.push(`results/${this.search}`);
    }
  }
};
</script>

<style>
* {
  text-align: center;
}

h1 {
  padding: 20px;
}
</style>

